@import '../colors.scss';

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 95px;

  @media (max-width: 767px) {
    & {
      overflow-x: hidden;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 47px 48px;

    nav {
      display: flex;
      align-items: center;

      .logo-link {
        text-decoration: none;
        color: #333;
        display: inline-flex;
        max-height: 48px;
        align-items: center;

        img {
          height: 80px;
          width: 80px;
        }

        .logo-name {
          font-family: 'Rubik', sans-serif;
          text-transform: uppercase;
          font-size: 24px;
          letter-spacing: 1.5px;
          margin-left: 20px;
        }
      }

      .menu {
        flex: 1;
        margin: 0 0 0 102px;
        text-align: center;
        font-family: 'Overpass-Bold', sans-serif;
        text-align: right;
        margin-right: 20px;

        @media (max-width: 767px) {
          & {
            display: flex;
            margin: 0;
          }
        }

        li {
          display: inline-block;
          margin: 0 24px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;

          a {
            text-decoration: none;
            color: #333;

            &:hover {
              color: $purple-2;
            }
          }
        }
      }

      .report-issue {
        text-decoration: none;
        border: solid 2px #333;
        color: #333;
        padding: 23px 50px;
        font-family: 'Overpass-Bold', sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        @media (max-width: 767px) {
          & {
            padding: 20px 30px;
            text-align: center;
          }
        }
        
        &:hover {
          color: $white;
          border: solid 2px $purple-2;
          background-color: $purple-2;
        }
      }
    }
  }
}
