{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint"],
    "extends": ["airbnb-typescript"],
    "rules": {
        "@typescript-eslint/object-curly-spacing": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/no-array-index-key": "off",
        "arrow-parens": ["error", "as-needed"],
        "no-extra-parens": "error",
        "dot-notation": "error",
        "key-spacing": ["error", {"beforeColon": false}],
        "space-before-blocks": 1,
        "comma-style": ["error", "last"],
        "no-extra-semi": "error",
        "jsx-quotes": ["error", "prefer-double"],
        "no-unneeded-ternary": "error",
        "template-curly-spacing": 2,
        "array-bracket-spacing": ["error", "never"],
        "object-curly-spacing": ["error", "never"],
        "semi": ["error", "always"]
    }
}
