$blue: #3E8BD3;
$white: #FEFEFE;
$purple-1: #5C3CAB;
$purple-2: #513496;
$purple-3: #160E2A;
$grey-1: #E5E4E4;
$grey-2: #F3F2F7;
$grey-3: #B5B5B7;
$grey-10: #989C9F;

:export {
  blue: $blue;
  white: $white;
  purple-1: $purple-1;
  purple-2: $purple-2;
  purple-3: $purple-3;
  grey-1: $grey-1;
  grey-2: $grey-2;
  grey-10: $grey-10;
}