/* Global Styling */
@import './fonts/fonts';

/* Components */
@import 'components/nav';

* {
  font-family: Merriweather-Regular;
  margin-top: 1rem;

  a { 
    color: #1D8CFA;
    text-decoration: none;
    border-bottom: 1px solid #1D8CFA;
  }

  .nav-link {
    color: #333;
    border-bottom: 1px solid #333;
    border-bottom-style: dotted;

    &:active {
      color: #1D8CFA;
      border-bottom: 1px solid #1D8CFA;
    }
  }
}