@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.ttf');
    src: url($font-file+'.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
  
@include font('FiraCode', 'FiraCode/FiraCode-Regular');
@include font('FiraCode-Bold', 'FiraCode/FiraCode-Bold');
@include font('NotoSans', 'NotoSans/NotoSans-Regular');
@include font('NotoSans-Bold', 'NotoSans/NotoSans-Bold');
