@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom fonts */
@font-face {
  font-family: Merriweather-Regular;
  src: url(./fonts/MerriweatherRegular/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-Regular;
  src: url(./fonts/MerriweatherRegular/Merriweather-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Fira-Code;
  src: url(./fonts/FiraCode/FiraCode-Regular.ttf);
}

/* Your own custom utilities */
* {
  margin-top: 1rem;
}

a { 
  color: #1D8CFA;
  text-decoration: none;
  border-bottom: 1px solid #1D8CFA;
}

img {
  border-radius: 0.25rem;
}

.nav-link {
  color: #333;
  border-bottom: 1px solid #333;
  border-bottom-style: dotted;
}

.nav-link:active {
  color: #1D8CFA;
  border-bottom: 1px solid #1D8CFA;
}

.card {
  box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.05);
  max-width: 500px;
  margin-top: 2rem;
  text-decoration: none;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  padding: 20px;
  transition-timing-function: ease;
  transition: all .3s;
  color: #333;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  transition-timing-function: ease;
}
